include ../../components/social/social

mixin blog-content()
  +b('section').blog-content
    +social()
    +e.container
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa distinctio doloribus earum expedita fuga harum illum inventore iste nostrum, quae quas quod vero voluptate.
      +e('h2').title.small-title Одежда
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam obcaecati quaerat rerum sit tenetur. Delectus, deserunt nulla? Asperiores, blanditiis cumque doloribus, illum laboriosam modi numquam quae quia quisquam, sint tempore unde ut voluptatibus! Ad culpa debitis error eveniet, ex ipsa laborum natus officia optio quaerat quo repellat sed sit voluptatibus.
      +e('h2').title.small-title Снаряжение
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius odio placeat voluptate voluptates. Aliquam corporis dolore laboriosam nulla similique soluta temporibus. Accusamus accusantium aperiam culpa exercitationem fuga fugit laborum libero nihil odio quasi quos, reiciendis reprehenderit saepe totam ut, vel vero. Commodi esse est incidunt inventore iure, quam quibusdam?
      +e('img').img(src='assets/images/original.jpg')
      +e.img-sign
        .text-gray Подпись к фотографии
      +e('h2').title.small-title Здоровье
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda, dolores doloribus, esse facere id illum in itaque laudantium nesciunt nobis officiis porro quas sit voluptatem. Aperiam atque dolorem et eum expedita explicabo neque repudiandae sed tempore voluptatem. Adipisci at consequatur dolores eaque eius in minus molestias nulla odit quae quam qui quod tempora velit vitae voluptatibus, voluptatum! Aliquid animi consequatur cumque dolores, eius excepturi impedit ipsa laudantium molestias nesciunt nulla reiciendis, repudiandae rerum sit!
      +e('h2').title.small-title Фото- и видеотехника
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut culpa cumque dicta dolor ea est molestias placeat quas sed?
      +e('h2').title.small-title Мобильная связь
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis odit quis sit soluta, veniam. Exercitationem illum obcaecati ratione rem?
