mixin social()
  +b('ul').social
    +e('a').vk.__item(href='#')
      i.fa.fa-vk
    +e('a').ok.__item(href='#')
      i.fa.fa-odnoklassniki
    +e('a').fb.__item(href='#')
      i.fa.fa-facebook
    +e('a').tw.__item(href='#')
      i.fa.fa-twitter
    +e('a').plus.__item(href='#')
      i.fa.fa-plus
