mixin blog-jumbotron()
  +b('section').blog-jumbotron
    .container
      +e.name Блог
      +e.center
        +e.category Путешествие
        h1.jumbotron__title Что брать с собой на Мальдивы?
      +e.date 13 июнь, 2018
