mixin blog()
  +b('section').blog
    .container
      .title__wrap.useful__title-wrap
        h1.title Блог
        .title__line
      .articles-preview__wrap
        +b.articles-preview
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
          +e.item.item-more
            +e('h2').title.small-title Что брать с собой на Мальдивы?
            +e.text.dots-js
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur at consequuntur dignissimos distinctio eligendi magnam recusandae tenetur! A accusamus aliquam consectetur cumque distinctio eligendi illo iure labore maiores minus nemo perferendis quos sapiente, sit totam. Mollitia optio quas repellendus tempore. Adipisci aliquid assumenda corporis dolore, dolores in necessitatibus nihil odit perferendis quis saepe, tempore voluptatem voluptates! Architecto dolore dolorum est ex, in ipsam laudantium quaerat sint temporibus voluptates. Dignissimos et explicabo, facilis fuga iste labore magnam, minus molestias numquam omnis porro quisquam ratione reiciendis veritatis, voluptatum! Amet, assumenda debitis magni natus nesciunt, nisi officiis provident ratione repudiandae sed vel!
            +e.date.text-gray 13 июнь. 2018
        +e.more
          button.more.more-js Показать еще
