mixin nav()
  +b.nav
    .container
      +e('ul').list
        +e('li').item
          a(href='#') Рыбалка
        +e('li').item
          a(href='#') Океан
        +e('li').item
          a(href='#') Отдых
        +e('li').item
          a(href='#') Семья
        +e('li').item
          a(href='#') Путешествие
        +e('li').item
          a(href='#') Техника
